<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/file.css">
    <title>CipherDrop</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <h1>CipherDrop</h1>
            <h2>Anonymous File Upload</h2>
            <p class="features">
                <span>
                    No logs
                </span>

                <span>
                    Encrypted
                </span>

                <span>
                    Open source
                </span>

                <span>
                    Please use a VPN
                </span>
            </p>
        </div>

        <div class="wrapper file">
            <small>
                You're about to download
            </small>
            <h3>
                some_file.png
            </h3>

            <div class="downloader">
                <button>
                    Download
                </button>

                <div class="loader hidden">
                    <div class="inner"></div>
                </div>
            </div>

            <small>
                File available for 7 days
            </small>
        </div>
    </div>
</body>
</html>